<!DOCTYPE html>
<html>

<head>
    <title>Beautiful Form</title>
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@
    <!-- Google Font: Source Sans Pro -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> =>*@
    <link rel="stylesheet" href="~/all/css/fonts.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/DataTables/css/all.min.css">@*plugins/fontawesome-free/css/all.min.css*@
    <!-- DataTables -->
    <link rel="stylesheet" href="~/DataTables/css/dataTables.bootstrap4.min.css">@*plugins/datatables-bs4/css/dataTables.bootstrap4.min.css*@
    <link rel="stylesheet" href="~/DataTables/css/responsive.bootstrap4.min.css">@*plugins/datatables-responsive/css/responsive.bootstrap4.min.css*@
    <link rel="stylesheet" href="~/DataTables/css/buttons.bootstrap4.min.css">@*/plugins/datatables-buttons/css/buttons.bootstrap4.min.css*@
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>

<body>
    <div class="container">
        <partial name="DataLoad.cshtml" />
        <div class="card">
            
            <div class="card-body">
                
                <label for="dateInput">Date:</label>
                <form class="row" action="/ShiftSwap/LoadDataIntoDropDown" method="post">
                    <div class="form-group col-sm-6">
                        
                        <input type="date" class="form-control" id="dateInput" name="dateInput">
                    </div>
                    <div class="form-group col-sm-6">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
                <label for="dropdownInput">Dropdown:</label>
                <form class="row" action="/ShiftSwap/Swap" method="post">
                    <div class="form-group col-sm-4">
                        
                        <partial name="DropDownParialView.cshtml" />
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="date" class="form-control" id="dateInputswap" name="dateInputswap">
                        
                    </div>
                    <div class="form-group col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

   
</body>

@section scripts{
    <script src="~/lib/Alertify/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["alert"]'
            if (save) {
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(save);

            }
            else {
                save = "";
                alertify.error(save);
            }


        })
    </script>
    }
</html>
