@{
    ViewData["Title"] = "Home";
}
<head>

</head>
<body>
    @*<div id="homeback" class="centered">
        <img src="~/css/images/wew.jpg" style="float:left;width:100%;height:50%;">
    </div>*@
    <div class="p-4 rounded border">
        <div class="col-md-10" style="float:none;margin:auto;background-color:#3f678b">
            <!-- general form elements -->
            <div class="card card-primary" style="background-color:#ffffff">
    <div class="text-center">
        <strong>
            <h1 class="display-4">
                Welcome
                To
                <p>### Call Centre</p>
            </h1>
        </strong>
    </div>
    </div></div></div>
    <script src="~/lib/AdminLte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <!-- AdminLTE App -->
    <script src="~/lib/AdminLte/dist/js/adminlte.min.js"></script>
    <script type="text/javascript">
        history.forward();
    </script>
</body>

